body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
img {
    height: 20rem;
    width: 25rem;
    margin-top: -10rem;
    cursor: pointer;
    
}

#container {
    text-align: center;
    font-family: "Century Schoolbook", sans-serif;
}